
:root {
    --primary: #2f61ba;
    --highlight: #ffffff;
    --secondary: #c9cdd8;
    --background-light: #dbdbdb;
    --background-dark: #040933;
    
    --text-light: #aaaabb;
    --text-light-hover: #ffffff;
    --text-dark: #040933;

    --background-dark-translucent: #04093344;
    --background-dark-transparent: #04093300;

    --segment-height: 42vw;
    --segment-half-height: calc(var(--segment-height) / 2);
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    background-color: var(--background-dark);
}



.title-bar {
    /* background: transparent linear-gradient(#00000088, #00000088, #00000000); */
    background-color: transparent;
    color: var(--highlight);
    display: block;
    padding: 0.25vw;
    padding-bottom: 3vw;
    font-size: 3vw;
}

.image-segment {
    background: var(--background-dark) no-repeat center center;
    background-size: cover;
    display: block;
    height: var(--segment-height);
}
.light-segment {
    background-color: var(--background-light);
    display: block;
    height: var(--segment-height);
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* z-index: -1; */
}
.dot-grain {
    background: url('../source/dot-grain-overlay.png') repeat;
    opacity: 0.2;
    background-size: 4vw;
}

/**** TITLE PAGE ****/

.logo {
    background: black url('../source/logo.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    float: left;
    width: 5.5vw;
    height: 5.5vw;
}
.title-nav {
    float: right; /* implies display:inline */
}
.nav-item {
    color: var(--text-light);
    display: inline;
    margin-right: 4vw;
    font: 1.5vw Roboto;
}
.nav-item:hover {
    color: var(--text-light-hover);
    text-decoration: underline;
}

.company-name {
    color: var(--text-light);
    position: absolute;
    width: 100%;
    top: 13vw;
    font: 5vw Roboto;
    text-align: center;
}
.title-divider {
    background-color: var(--text-light);
    position: absolute;
    width: 50%;
    height: 1px;
    top: 19vw;
    left: 50%;
    transform: translate(-50%,0%);
}
.tagline {
    color: var(--text-light);
    position: absolute;
    width: 100%;
    top: 19.5vw;
    font: 1.8vw Roboto;
    font-style: italic;
    text-align: center;
}

/**** ABOUT US ****/

.mission {
    color: var(--text-dark);
    background-color: transparent;
    display: block;
    padding: 5vw 15vw;
}
.mission-title {
    border-bottom: 1px solid var(--text-dark);
    position: relative;
    width: 40%;
    margin-bottom: 1vw;
    padding: 1vw 5vw;

    font-size: 2vw;
    font-style: italic;
    text-align: center;
}
.mission-statement {
    position: relative;
    width: 40%;
    padding: 1vw 5vw;
    
    font-size: 1.2vw;
    text-align: center;
}
.mission-picture {
    border: 2px solid var(--background-dark);
    border-radius: 50%;
    position: absolute;
    float: right;
    width: var(--segment-half-height);
    height: var(--segment-half-height);
}