
:root {
    --primary: #2f61ba;
    --highlight: #ffffff;
    --secondary: #c9cdd8;
    --background-light: #dbdbdb;
    --background-dark: #040933;
    
    --text-light: #ccccdd;
    --text-light-hover: #ffffff;
    --text-dark: #040933;

    --background-dark-translucent: #04093344;
    --background-dark-transparent: #04093300;

    --segment-height: 42vw;
    --segment-half-height: calc(var(--segment-height) / 2);
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    /* background-color: var(--background-dark); */
    background: var(--background-dark) url("../source/laptop.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1080px;
}



.title-bar {
    /* background: transparent linear-gradient(#00000088, #00000088, #00000000); */
    background-color: transparent;
    color: var(--highlight);
    display: block;
    padding: 0.25vw;
    padding-bottom: 3vw;
    font-size: 3vw;
}

.image-segment, .transparent-segment, .light-segment, .dark-segment {
    display: block;
    position: relative;
    height: var(--segment-height);
}
.image-segment {
    background: var(--background-dark) no-repeat center center;
    background-size: cover;
}
.transparent-segment {
    background-color: transparent;
}
.light-segment {
    background-color: var(--background-light);
}
.dark-segment {
    background-color: var(--background-dark);
}

.flexbox {
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* z-index: 1; */
}
.dot-grain {
    background: url('../source/dot-grain-overlay.png') repeat;
    opacity: 0.2;
    background-size: 4vw;
}

/**** TITLE PAGE ****/

.logo {
    background: black url('../source/logo.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    float: left;
    width: 5.5vw;
    height: 5.5vw;
}
.title-nav {
    float: right; /* implies display:inline */
}
.nav-item {
    color: var(--text-light);
    display: inline;
    margin-right: 4vw;
    font: 1.5vw Roboto;
}
.nav-item:hover {
    color: var(--text-light-hover);
    text-decoration: underline;
}

.company-name {
    color: var(--text-light);
    position: absolute;
    width: 100%;
    top: 13vw;
    font: 5vw Roboto;
    text-align: center;
}
.title-divider {
    background-color: var(--text-light);
    position: absolute;
    width: 50%;
    height: 1px;
    top: 19vw;
    left: 50%;
    transform: translate(-50%,0%);
}
.tagline {
    color: var(--text-light);
    position: absolute;
    width: 100%;
    top: 19.5vw;
    font: 1.8vw Roboto;
    font-style: italic;
    text-align: center;
}

.guide-arrow {
    background-color: transparent;
    border-bottom: 0.25vw solid var(--text-light);
    border-right: 0.25vw solid var(--text-light);
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 23vw;
    left: 50%;
    transform: translate(-50%,0%) rotate(45deg);
}
.guide-arrow::after {
    background-color: transparent;
    border-bottom: 0.25vw solid var(--text-light);
    border-right: 0.25vw solid var(--text-light);
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    transform: translate(-50%,0%) rotate(45deg);
}

/**** ABOUT US ****/


.half-segment {
    display: flex;
    height: var(--segment-half-height);
}
.quarter-segment {
    width: 50%;
}

.mission-title, .services-title {
    border-bottom: 1px solid var(--text-dark);
    position: relative;
    width: 70%;
    margin-top: 5.5%;
    margin-left: 20%;
    margin-bottom: 1vw;
    padding: 1vw 5vw;

    font-size: 2vw;
    font-style: italic;
    text-align: center;
}
.mission-statement, .services-statement {
    position: relative;
    width: 70%;
    margin-left: 20%;
    padding: 1vw 2.8vw;
    
    font-size: 1.2vw;
    text-align: center;
}
.services-title, .services-statement {
    margin-left: 10%;
}

.mission-picture, .services-picture {
    border: 2px solid var(--background-dark);
    border-radius: 50%;
    width: calc(0.8 * var(--segment-half-height));
    height: calc(0.8 * var(--segment-half-height));
    margin: calc(0.1 * var(--segment-half-height));

    text-align: center;
}
.services-picture {
    float: right;
}

/**** SERVICES ****/

.services-gallery {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-card {
    background-color: white;
    display: inline;
    width: 20vw;
    height: 30vw;
}
.services-card + .services-card {
    margin-left: 4vw;
}