
:root {
    --primary: #2f61ba;
    --highlight: #ffffff;
    --secondary: #c9cdd8;
    --background: #dbdbdb;
    --background-dark: #040933;
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    background-color: var(--background);
}



.title-bar {
    background-color: var(--primary);
    color: var(--highlight);
    padding: 0.7vw;
    font-size: 4vw;
}

.slanted {
    background-color: var(--highlight);
    position: relative;
    /* display: inline-block; */
    float: right;
    right: 50px;
    width: 200px;
    height: 50px;
    z-index: 11;
}
.slanted:before {
    background-color: var(--highlight);
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    transform: skewX(-20deg);
    content: "";
    z-index: -1;
}

.image-segment {
    background: var(--background-dark) url('../source/laptop.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    height: 50vw;
}
.overlay {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}
.dot-grain {
    background: url('../source/dot-grain-overlay.png') repeat;
    opacity: 0.6;
    background-size: 4vw;
}